<% @done_adventures.each do |a| %>
  <h1>DONE</h1>
  <%= a.user_id %>
  <%= a.adventure_id %>
  <%= a.done %>
<% end %>

<% @saved_adventures.each do |a| %>
  <%= a.user_id %>
  <%= a.adventure_id %>
  <%= a.done %>
<% end %>
