<div class="container">

  <div class="container-adventure-index text-center mt-4">
    <h1>Dashboard</h1>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
  </div>

  <div class="container-adventure-index pt-4 pb-4">
    <div class="container d-flex">

      <div class="container col-4">
        <h1>SAVED</h1>
        <% @saved_adventures.each do |a| %>
          <div class="card-product">
            <% if a.adventure.photo.present? %>
              <%= cl_image_tag a.adventure.photo.key %>
            <% else %>
              <img src="https://loremflickr.com/120/120/nature?random">
            <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.adventure.title, adventure_path(a.adventure) %></a>
                <% check_box_tag 'a.adventure_id', a.done, a.done ? true : false %>
                <p><%=
                  check_box_tag 'done', true, a.done,
                  onchange: "$(this).data('params', 'done=' + this.checked)",
                  data: { remote: true, url: my_adventure_path(a), method: :patch }
                %> Done </p>
              </div>
          </div>
        <% end %>
      </div>

      <div class="container col-4">
        <h1>DONE</h1>
          <% @done_adventures.each do |a| %>
            <div class="card-product">
              <% if a.adventure.photo.present? %>
                <%= cl_image_tag a.adventure.photo.key %>
              <% else %>
                <img src="https://loremflickr.com/120/120/nature?random">
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.adventure.title, adventure_path(a.adventure) %></a>
              </div>
          </div>
        <% end %>
      </div>


      <div class="container col-4">
        <h1>PUBLISHED</h1>
        <% @writtenadventures.each do |a| %>
            <div class="card-product">
              <% if a.photo.present? %>
                <%= cl_image_tag a.photo.key %>
              <% else %>
                <img src="https://loremflickr.com/120/120/nature?random">
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.title, adventure_path(a) %></a>
              </div>
          </div>
        <% end %>
    </div>

  </div>

</div>
