<div class="container">

  <div class="container-adventure-index text-center mt-4 pt-4 pb-4" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/130111/pexels-photo-130111.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
    <h1>My Adventures Dashboard</h1>
    <p>Leave reviews and share adventures to collect Adventure Points and level up your Adventurer Status.<p>
        <h4>Total Adventure Points</h4>
        <h5 style="font-family: Open Sans, sans-serif;"><%= @myreviews.count + 2 * @writtenadventures.count %></h5>
         <h4>Adventurer Status:</h4>
          <% case @myreviews.count + 2 * @writtenadventures.count%>
            <% when 0..4 %>
              <h5 style="font-family: Open Sans, sans-serif;"> <%= 'NEWBIE' %></h5>
            <% when 5..40 %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'INTERMEDIATE' %></h5>
            <% when 41..100 %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'ADVANCED' %></h5>
            <% else %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'MASTER' %></h5>
            <% end %>
  </div>

  <div class="container-adventure-index pt-4 pb-4">
    <div class="container">

      <div class="card mt-4 mb-4 p-4">
        <h1>SAVED (<%= @myadventures.count %>)</h1>
        <%= "You haven't saved any adventures yet." if @done_adventures.empty?  %>
        <% @myadventures.each_with_index do |a, index| %>
          <div class="card-product">
            <% if a.adventure.photo.present? %>
              <%= cl_image_tag a.adventure.photo.key %>
            <% else %>
              <img src="https://loremflickr.com/120/120/nature?random">
            <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.adventure.title, adventure_path(a.adventure) %></a>
              </div>
            <% if policy(a).destroy? %>
                  <%= link_to my_adventure_path(a),
                        method: :delete,
                        data: {confirm: "Are you sure you would like to unsave this adventure?"} do %>
                <i style="font-size: 9pt; color: gray;" class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card mt-4 mb-4 p-4">
        <h1>MY REVIEWS (<%= @myreviews.count %>)</h1>
          <%= "Go on some adventures and leave some reviews." if @myreviews.empty?  %>
          <% @myreviews.each do |a| %>
            <div class="card-product">
              <% if a.photos.present? %>
                <%= cl_image_tag a.adventure.photos[0].key %>
              <% else %>
                <img src="https://loremflickr.com/120/120/nature?random">
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.adventure.title, adventure_path(a.adventure) %>  </a>
              </div>
                <% unless current_user.nil? %>
                  <% if policy(a).edit? %>
                    <%= link_to edit_review_path(a),
                       method: :get do %>
                      <i style="font-size: 9pt; color: gray;" class=" fas fa-pencil-alt"></i>
                    <% end %>
                  <% end %>
                  <% if policy(a).destroy? %>
                      |
                    <%= link_to review_path(a),
                        method: :delete,
                        data: {confirm: "Are you sure you would like to delete the review?"} do %>
                    <i style="font-size: 9pt; color: gray;" class="fas fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
          </div>
        <% end %>
      </div>


      <div class="card mt-4 mb-4 p-4">
        <h1>MY MINI ADVENTURES (<%= @writtenadventures.count %>)</h1>
        <% @writtenadventures.each do |a| %>
            <div class="card-product">
              <% if a.photo.present? %>
                <%= cl_image_tag a.photo.key %>
              <% else %>
                <img src="https://loremflickr.com/120/120/nature?random">
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.title, adventure_path(a) %></a>
              </div>

              <% unless current_user.nil? %>
                  <% if policy(a).edit? %>
                    <%= link_to edit_adventure_path(a),
                       method: :get do %>
                      <i style="font-size: 9pt; color: gray;" class=" fas fa-pencil-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
          </div>
        <% end %>
    </div>

  </div>

</div>
