<div class="container">

  <div class="container-adventure-index text-center mt-4">
    <h1>Dashboard</h1>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
      <p>Detail Placeholder</p>
  </div>

  <div class="container-adventure-index pt-4 pb-4">
    <div class="container d-flex ">

      <div class="container col-4">
        <h1>SAVED</h1>
        <% @saved_adventures.each do |a| %>
          <div class="card-product">
            <img src="https://loremflickr.com/120/120/nature?random">
              <div class="card-product-infos", style="width:70%">
                <%= a.user_id %>
                <%= a.adventure_id %>
                <%= a.done %>
              </div>
          </div>
        <% end %>
      </div>

      <div class="container col-4">
        <h1>DONE</h1>
         <% @done_adventures.each do |a| %>
          <div class="card-product">
            <img src="https://loremflickr.com/120/120/nature?random">
              <div class="card-product-infos", style="width:70%">
                <%= a.user_id %>
                <%= a.adventure_id %>
                <%= a.done %>
              </div>
          </div>
        <% end %>
      </div>

      <div class="container col-4">
        <h1>PUBLISHED</h1>
        <div class="card-product">
          <img src="https://loremflickr.com/120/120/nature?random">
            <div class="card-product-infos", style="width:70%">
            </div>
        </div>
      </div>

    </div>
  </div>

</div>
