<div class="container">

  <div class="container-adventure-index text-center mt-4 pt-4 pb-4" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/130111/pexels-photo-130111.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); color: rgb(220, 220, 220); box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
    <h2>My Adventures Dashboard</h2>
    <p class="myadventures">Leave reviews and share adventures to collect Adventure Points and level up your Adventurer Status.<p>
        <h4>Total Adventure Points</h4>
        <h5 style="font-family: Open Sans, sans-serif;"><%= @myreviews.count + 2 * @writtenadventures.count %></h5>
         <h4>Adventurer Status</h4>
          <% case @myreviews.count + 2 * @writtenadventures.count%>
            <% when 0..4 %>
              <h5 style="font-family: Open Sans, sans-serif;"> <%= 'Newbie' %></h5>
            <% when 5..40 %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'Intermediate' %></h5>
            <% when 41..100 %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'Advanced' %></h5>
            <% else %>
              <h5 style="font-family: Open Sans, sans-serif;"><%= 'Master' %></h5>
            <% end %>
  </div>

  <div class="container-adventure-index pt-4 pb-4">
    <div class="container">

      <div class="card mt-4 mb-4 p-4">
        <h2>SAVED (<%= @myadventures.count %>)</h2>
        <%= "You haven't saved any adventures yet." if @myadventures.empty?  %>
        <% @myadventures.each_with_index do |a, index| %>
          <div class="d-inline-flex justify-content-between align-items-center">
          <%= link_to adventure_path(a.adventure), class: "card-product", id: "card-link-text" do %>
            <% if a.adventure.photo.present? %>
              <%= cl_image_tag a.adventure.photo.key %>
            <% else %>
              <img src="https://loremflickr.com/120/120/nature?random=<%= index.to_s %>">
            <% end %>
            <div class="card-product-infos", style="width:70%">
              <div><%= a.adventure.title %>
                <p><% a.adventure.avg_rating.round.times do %>
                  <span style="font-size: 9pt" class="fas fa-star"></span>
                <% end %>
                <% (5 - a.adventure.avg_rating.round).times do  %>
                  <span style="font-size: 9pt" class="far fa-star"></span>
                <% end %>
                <span style="font-size: 9pt"> (<%= a.adventure.avg_rating.round(1) %>) | Category: <%= a.adventure.category %></span>
                </p>
              </div>
            </div>

            <% if policy(a).destroy? %>
              <%= link_to my_adventure_path(a),
                 method: :delete,
                 data: {confirm: "Are you sure you would like to unsave this adventure?"} do %>
                  <i style="font-size: 9pt; color: gray;" class="fas fa-trash-alt my-adv-card-icon"></i>
              <% end %>
            <% end %>

            </div>
          <% end %>


        <% end %>
      </div>

      <div class="card mt-4 mb-4 p-4">
        <h2>MY REVIEWS (<%= @myreviews.count %>)</h2>
          <%= "Go on some adventures and leave some reviews." if @myreviews.empty?  %>
          <% @myreviews.each_with_index do |a, index| %>
            <div class="card-product double-icon">
              <% if a.photos.present? %>
                <%= link_to adventure_path(a.adventure) do %>
                <%= cl_image_tag a.photos.first.key %>
                <% end %>
              <% else %>
                <%= link_to adventure_path(a.adventure) do %>
                <img src="https://loremflickr.com/120/120/switzerland?random=<%= index.to_s %>">
                <% end %>
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.adventure.title, adventure_path(a.adventure) %>  </a>
                <p>My rating: <% a.rating.times do %>
                    <span style="font-size: 9pt" class="fas fa-star two"></span>
                  <% end %>
                  <% (5 - a.rating).times do  %>
                    <span style="font-size: 9pt" class="far fa-star two"></span>
                  <% end %>
                    <span style="font-size: 9pt"> (<%= a.rating %>) | Category: <%= a.adventure.category %></span>
                </p>
              </div>
                <% unless current_user.nil? %>
                  <% if policy(a).edit? %>
                    <%= link_to edit_review_path(a),
                       method: :get do %>
                      <i style="font-size: 9pt; color: gray;" class=" fas fa-pencil-alt"></i>
                    <% end %>
                  <% end %>
                  <% if policy(a).destroy? %>
                      |
                    <%= link_to review_path(a),
                        method: :delete,
                        data: {confirm: "Are you sure you would like to delete the review?"} do %>
                    <i style="font-size: 9pt; color: gray;" class="fas fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
          </div>
        <% end %>
      </div>


      <div class="card mt-4 mb-4 p-4">
        <h2>MY MINI ADVENTURES (<%= @writtenadventures.count %>)</h2>
        <% @writtenadventures.each_with_index do |a, index| %>
            <div class="card-product">
              <% if a.photo.present? %>
                <%= link_to adventure_path(a) do %>
                <%= cl_image_tag a.photo.key %>
                <% end %>
              <% else %>
                <img src="https://loremflickr.com/120/120/mountains?random=<%= index.to_s %>">
              <% end %>
              <div class="card-product-infos", style="width:70%">
                <a><%= link_to a.title, adventure_path(a) %></a>
                <p><%= a.reviews.empty? ? "(No reviews yet) " : "(#{a.reviews.count} reviews)" %>
                  <% a.avg_rating.round.times do %>
                    <span style="font-size: 9pt" class="fas fa-star"></span>
                  <% end %>
                  <% (5 - a.avg_rating.round).times do  %>
                    <span style="font-size: 9pt" class="far fa-star"></span>
                  <% end %>
                    <span style="font-size: 9pt"> (<%= a.avg_rating.round(1) %>) | Category: <%= a.category %></span>
                </p>
              </div>

              <% unless current_user.nil? %>
                  <% if policy(a).edit? %>
                    <%= link_to edit_adventure_path(a),
                       method: :get do %>
                      <i style="font-size: 9pt; color: gray;" class=" fas fa-pencil-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
          </div>
        <% end %>
    </div>

  </div>

</div>
