<%= simple_form_for(@adventure) do |f| %>

    <div class="form-inputs">
      <%= f.input :title, label: 'Tagline for this adventure', hint: 'e.g. Fun hike near Zurich with a waterfall' %>
    </div>

    <div class="form-inputs">
      <%= f.input :description, label: 'Add a description', hint: 'Describe why this is a great adventure. What is there to see? What is there to do? etc.' %>
    </div>

    <div class="form-inputs">
      <%= f.input :photo, as: :file, hint: "This will be the main adventure picture so pick a good one!", label: "Upload one AMAZING picture of this adventure." %>
    </div>

    <div class="form-inputs">
      <%= f.input :category, collection: ['hiking trail', 'bike path'] %>
    </div>

    <div class="form-inputs">
      <%= f.input :address, label: 'Approximate address nearby if not exact address.', hint: 'You can adjust on the (future) map for more exact position.'%>
    </div>

    <div class="form-inputs">
      <%= f.input :distance, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30], label: "Distance rounded to the nearest kilometer" %>
    </div>

    <div class="form-inputs">
      <%= f.input :avg_duration, collection: [15, 30, 45, 60, 90, 120, 150, 180, 210, 240, 270, 300], label: 'How long did it take you to do this adventure?', hint: 'Please enter total minutes (1 hour = 60 minutes, 2 hours = 120 minutes, etc.)' %>
    </div>

    <div class="form-inputs">
      <%= f.input :youngest_age, label: "Recommended age of the youngest adventurer", collection: [[0 , 'under < 1 year (not able to walk well or at all)'], [1, '1-3 years (walkers in training)'], [2, '4-6 years (can walk well, but probably not far)'], [3, '7-11 years (moderate distances)'], [4, '12-15 years (moderate to long distances)'], [5, '16+ years (essentially mini adults)']], label_method: :second, value_method: :first %>
    </div>

    <div class="form-inputs">
      <%= f.input :difficulty, collection: [[1 , 'Easy (didn\'t even break a sweat)'], [2, 'Moderate (a good workout)'], [3, 'Challenging (plan ahead, hard work)']], label_method: :second, value_method: :first  %>
    </div>


    <div class="form-inputs">
      <%= f.input :stroller_friendly,label: 'Is this adventure stroller or bike trailer friendly?', as: :radio_buttons, collection: [[true , 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
    </div>

    <p><strong>Tell us a bit about how to get there:</strong></p>
    <div class="form-inputs d-flex">
      <div class="mr-4">
        <%= f.input :public_transport %>
      </div>
      <%= f.input :parking %>
    </div>

    <div class="form-inputs">
      <%= f.input :directions, label: 'Detailed Directions', hint: 'e.g. Where is the parking lot/bus stop/etc.? How to do you get to the adventure? How do you get back?' %>
    </div>

    <div class="form-actions btn btn-primary mt-4">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
