<%= simple_form_for(@adventure) do |f| %>

    <div class="form-inputs">
      <%= f.input :title, label: 'Tagline for this adventure', hint: 'e.g. Fun hike near Zurich with a waterfall' %>
    </div>

    <div class="form-inputs">
      <%= f.input :description, label: 'Add a description', hint: 'Describe why this is a great adventure. What is there to see? What is there to do? etc.' %>
    </div>

    <div class="form-inputs">
      <%= f.input :category, collection: ['hiking trail', 'biking path'] %>
    </div>

    <div class="form-inputs">
      <%= f.input :address, label: 'Approximate address nearby.', hint: 'You can adjust on the (future) map for more exact position.'%>
    </div>

    <div class="form-inputs">
      <%= f.input :distance, hint: 'Please use kilometers for now.' %>
    </div>

    <div class="form-inputs">
      <%= f.input :youngest_age, hint: 'For babies under one year, select \'0\'', label: "Recommended age of the youngest adventurer", collection: 0..16 %>
    </div>

    <div class="form-inputs">
      <%= f.input :difficulty, collection: [[1 , 'Easy (didn\'t even break a sweat)'], [2, 'Moderate (a good workout)'], [3, 'Challenging (plan ahead, hard work)']], label_method: :second, value_method: :first  %>
    </div>

    <div class="form-inputs">
      <%= f.input :stroller_friendly,label: 'Is this adventure stroller or bike trailer friendly?', as: :radio_buttons, collection: [[true , 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
    </div>

    <p><strong>Tell us a bit about how to get there:</strong></p>
    <div class="form-inputs d-flex">
      <div class="mr-4">
        <%= f.input :public_transport %>
      </div>
      <%= f.input :parking %>
    </div>

    <div class="form-inputs">
      <%= f.input :directions, label: 'Detailed Directions', hint: 'e.g. Where is the parking lot/bus stop/etc.? How to do you get to the adventure? How do you get back?' %>
    </div>

    <div class="form-actions btn btn-primary mt-4">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
