
<% adventures.each_with_index do |adventure, index| %>
   <!--  <% if adventure.photo.present? %>
      <%= cl_image_tag adventure.photo.key %>
    <% else %> -->
      <img src="https://loremflickr.com/120/120/nature?random=<%= index.to_s %>">

<% end %>


  <!-- <img class="info-window-image" src="https://loremflickr.com/120/120/forest?random=<%= index.to_s %>"> -->
  <h6><%= adventure.title %></h6>
  <p><%= adventure.category.capitalize %></p>

<% adventure.avg_rating.round.times do %>
    <span class="fas fa-star"></span>
  <% end %>
  <% (5 - adventure.avg_rating.round).times do  %>
    <span class="far fa-star"></span>
  <% end %>



