<!-- Button trigger modal -->
<button type="button" class="btn btn-ghost" data-toggle="modal" data-target="#exampleModalLong">
  More Filters
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Search Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for :search, url: search_path, method: :get do |f| %>
      <div class="modal-body">
        <div class="form-inputs">
          <%= f.input :category, collection: ['hiking trail', 'biking path'] %>
        </div>

        <div class="form-inputs">
          <%= f.input :distance, hint: 'Please use kilometers for now.' %>
        </div>

        <div class="form-inputs">
          <%= f.input :youngest_age, hint: 'For babies under one year, select \'0\'', label: "Recommended age of the youngest adventurer", collection: [[0 , 'under < 1 year (not able to walk well or at all)'], [1, '1-3 years (walkers in training)'], [2, '4-6 years (can walk well, but probably not far)'], [3, '7-11 years (moderate distances)'], [4, '12-15 (moderate to long distances)'], [5, '16+ years (essentially mini adults)']], label_method: :second, value_method: :first %>
        </div>

        <div class="form-inputs">
          <%= f.input :difficulty, collection: [[1 , 'Easy (didn\'t even break a sweat)'], [2, 'Moderate (a good workout)'], [3, 'Challenging (plan ahead, hard work)']], label_method: :second, value_method: :first  %>
        </div>

        <div class="form-inputs">
          <%= f.input :stroller_friendly,label: 'Is this adventure stroller or bike trailer friendly?', as: :radio_buttons, collection: [[true , 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
        </div>

        <div class="form-inputs">
          <%= f.input :public_transport,label: 'Is this adventure close to public transport?', as: :radio_buttons, collection: [[true , 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
        </div>

        <div class="form-inputs">
          <%= f.input :parking,label: 'Is this adventure close to parking?', as: :radio_buttons, collection: [[true , 'Yes'], [false, 'No']], label_method: :second, value_method: :first %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save filters</button>
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

