<!-- Button trigger modal -->

<button type="button" data-toggle="modal" data-target="#exampleModalLong<%= review.id %>">
  View More
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Review Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="review-information">
          <h4>Content:</h4>
          <%= review.content %>
          <h4>Photos:</h4>
          <% if review.photos.present? %>
            <% review.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <% else %>
            <img src="https://loremflickr.com/120/120/forest?random=<%= index.to_s %>">
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
