<div class="container">
  <div class="row container-fluid-index center d-flex justify-content-between mt-3">
    <div class="col-sm-12 col-md-12">
      <h1 style="text-align: center">Search Results</h1>

      <!-- Search filters -->
      <div class="d-flex justify-content-center">
        <div class="filter-buttons btn-responsive"><%= link_to "Parking Available", @params.merge(parking: true), class: "btn btn-ghost" %></div>
        <div class="filter-buttons btn-responsive"><%= link_to "Public Transport Accessible", @params.merge(public_transport: true), class: "btn btn-ghost" %></div>
        <div class="filter-buttons btn-responsive"><%= link_to "Stroller Friendly", @params.merge(stroller_friendly: true), class: "btn btn-ghost" %></div>
        <div class="filter-buttons btn-responsive"><%= render 'search_modal', adventure: @adventure %></div>
      </div>

      <!-- Map -->
      <div class="row container-fluid-index center d-flex justify-content-between">
        <div class="col-sm-12 col-md-12">
          <div id="map"
            style="width: 100%; height: 400px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

      <div class="row container-fluid-index center d-flex justify-content-between">
        <div class="col-sm-12 col-md-12">
          <% @results.each_with_index do |adventure, index| %>
            <div class="card-product">
              <% if adventure.photo.present? %>
                <%= cl_image_tag adventure.photo.key %>
              <% else %>
                <img src="https://loremflickr.com/120/120/mountains?random=<%= @ar[index].to_s %>">
              <% end %>

              <div class="card-product-infos", style="width:70%">
                <div style="font-size: 13px"><%= link_to "#{adventure.title.length < 50 ? adventure.title : adventure.title[0..49] + "..."}", adventure_path(adventure) %>
                </div>

                <div>
                  <% adventure.avg_rating.round.times do %>
                    <span style="font-size: 9pt" class="fas fa-star"></span>
                  <% end %>
                  <% (5 - adventure.avg_rating.round).times do  %>
                    <span style="font-size: 9pt" class="far fa-star"></span>
                  <% end %>
                  <span style="font-size: 9pt"> (<%= adventure.avg_rating.round(1) %>) | Category: <%= adventure.category %></span>
                </div>

                <p><%= "#{adventure.description[0..100]}..." %> <%= link_to "(Read more)", adventure_path(adventure) %>
                </p>

              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
