<div class="container">
  <h1><%= @adventure.title %></h1>
  <h2>Description:</h2>
  <p><%= @adventure.description %></p>
</div>

<div class="container m-7">
  <h2>Reviews</h2>
    <% @adventure.reviews.each do |review|  %>
      <p><strong><%= review.tagline %></strong></p>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      <%= link_to "Delete", review_path(review), method: :delete %>
    <% end %>
</div>


<div class="container">
  <%= link_to 'Create a review', new_adventure_review_path(@adventure), class: "btn btn-primary mt-4" %>
</div>
