<%= simple_form_for [@adventure, @review] do |f| %>

  <div class="form-inputs">
    <%= f.input :tagline, label: 'Enter a title for your review', hint: 'e.g. Amazing adventure for the entire family' %>
  </div>

  <div class="form-inputs">
    <%= f.input :content, label: 'Enter a description of the adventure you would like to review', hint: 'Tell us a bit more the adventure about the path, points to stop or anything intersting on the way, etc. ' %>
  </div>

  <div class="form-inputs">
      <%= f.input :rating, label: 'How did you like the adventure', collection: [[1 , '1 - Not recommended'], [2, '2 - It was ok'], [3, '3 - Might go again'], [4, '4 - Great adventure'], [5, '5 - Amazing! Highly recommended']], hint: 'Please rate the adventure: 1 = not recommended to 5 = amazing', label_method: :second, value_method: :first  %>
  </div>

  <div class="form-inputs">
      <%= f.input :duration, hint: 'Please let us know about the approximate hiking time in minutes.' %>
  </div>

  <div class="form-inputs">
      <%= f.input :youngest_age, hint: 'For babies under one year, select \'0\'', label: "Recommended age of the youngest adventurer", collection: [[0 , 'under < 1 year (not able to walk well or at all)'], [1, '1-3 years (walkers in training)'], [2, '4-6 years (can walk well, but probably not far)'], [3, '7-11 years (moderate distances)'], [4, '12-15 (moderate to long distances)'], [5, '16+ years (essentially mini adults)']], label_method: :second, value_method: :first %>
    </div>

  <div class="form-inputs">
    <%= f.input :difficulty, collection: [[1 , 'Easy (didn\'t even break a sweat)'], [2, 'Moderate (a good workout)'], [3, 'Challenging (plan ahead, hard work)']], label_method: :second, value_method: :first  %>
  </div>

  <div class="form-inputs">
    <%= f.input :photos, as: :file, label: "You can attach a few AMAZING photos to your review.", input_html: { multiple: true } %>
  </div>

  <div class="form-actions btn btn-primary mt-4">
    <%= f.button :submit %>
  </div>

<% end %>
